.App {
  text-align: center;
}

.App-header {
  background-color: #333842;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  float: left;
  color: white;
  cursor: pointer;
  margin-top: 0;
  padding: 1em;
  position: fixed;
}

.App-settings {
  float: right;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.App-topbar {
  width: 100%;
  height: 100px;
  background-color: #282c34;
  position: fixed;
}

.sign-out {
  margin: 1.5em;
  background-color: #d9534f;
  color: white;
  padding: .5em;
  padding-top: .45em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.15em;
}

.sign-out:hover {
  background-color: #ad423f; 
}

.account-name {
  margin: 1.5em;
  margin-top: 2em;
  margin-right: 0em;
  cursor: pointer;
  font-size: 1.15em;
  text-decoration: none;
  color: white;
}

.account-name:hover {
  color: grey;
}

.sign-in {
  margin: 1.5em;
  background-color: #28a745;
  color: white;
  padding: .5em;
  padding-top: .45em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.15em;
  text-decoration: none;
}

.sign-in:hover {
  background-color: #208537;
  text-decoration: none;
  color: white;
}

.App-title:hover {
  color: grey;
}

.button-group {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button {
  background-color: #339cf7;
  border-radius: 7px;
  padding: .5em;
  font-size: 20px;
  margin: .5em;
  cursor: pointer;

}

.button:hover {
    background-color: #277dc6;
}

.error {
  height: 20px;
  font-size: 20px;
}

input {
  border-radius: 7px;
  margin: .25em;
  padding: .25em;
  font-size: 15px;
}

.new-post {
  margin: 1.5em;
  margin-right: 0em;
  background-color: #339cf7;
  color: white;
  padding: .5em;
  padding-top: .45em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.15em;
  text-decoration: none;
}

.new-post:hover {
  background-color: #287cc5; 
}

.third-party {
  cursor: pointer;
  margin-left: .5em;
  margin-right: .5em;
}

input[type='checkbox'] {
  width:20px;
  height:20px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}

.content-input {
  border-radius: 7px;
  font-size: 18px;
  margin: .5em;
  padding: .5em;
  background-color: #3d4148;
  color: white;
}

.thread-object {
  background-color: #3e4451;
  text-align: left;
  border-radius: 7px;
  padding: .5em;
  margin: .5em;
  height: 100px;
}

.thread-holder {
  width: 50%;
  align-content: flex-start;
  margin-top: 100px;
}

.thread-author {
  font-size: 20px;
}

.thread-text {
  display: inline-block;
  vertical-align: top;
}

.thread-upvote-container {
  display: inline-block;
  height: 90px;
  text-align: center;
  vertical-align: super;
  width: 35px;
  margin-right: 1em;
}

.upvote {
  font-size: 15px;
  color: red;
}

.downvote {
  font-size: 15px;
  color: blue;
}